@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Orbitron:wght@400;600&display=swap');
body{
    text-align: center;
    line-height: 100vh;
    font-size: 10em;
    background-color: black;
    color: yellowgreen;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    text-shadow: 1px 4px 6px rgb(166, 255, 0);
}

